In [2]:
import pandas as pd
import numpy as np
import csv
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), 
                columns=['a', 'b', 'c'])
print(df)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
import pandas.io.sql as sqlio

In [4]:
from sqlalchemy import create_engine, MetaData, Table, inspect

In [5]:
#conectando SGBD PostgreSQL 
import psycopg2 as ps
conn2 = ps.connect(dbname = "pydw",
                   user = "postgres",
                   password = "125802",
                   host = "10.0.2.2",
                   port = "5432")
# Selecionando e executando comando no dataframework
cursor = conn2.cursor()
query = "SELECT * FROM financeiro" 
df = pd.read_sql(query,conn2)
print(df.head(20))

   cod_fin nome_fin   func_fin  salario_fin     mes_fin  descontos_fin  \
0        1    James   vendedor       1540.0  2022-11-10          123.2
1        2     Liza  vendedora       2760.0  2021-02-01          220.8
2        3     Emma  vendedora       1230.0  2022-11-07           98.4

     descricao_descontos
0  Desconto de 8% (FGTS)
1  Desconto de 8% (FGTS)
2  Desconto de 8% (FGTS)

/tmp/ipykernel_9790/56984747.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn2)

In [94]:

cursor = conn2.cursor()
#Inserindo dados na tabela
sql_insert = "INSERT INTO financeiro (cod_fin, nome_fin, func_fin, salario_fin, mes_fin, descontos_fin, descricao_descontos) VALUES (03, 'Emma', 'vendedora','1230', '2022-11-07', '98.40', 'Desconto de 8% (FGTS)')"
cursor.execute("ROLLBACK")
cursor.execute(sql_insert)
conn2.commit()

In [90]:
#Executando a atualização de um valor
sql_update = "UPDATE financeiro SET descricao_descontos = 'Desconto de 8% (FGTS)' WHERE cod_fin = 02 "
cursor.execute("ROLLBACK")
cursor.execute(sql_update)
conn2.commit()

In [6]:
import psycopg2
engine = create_engine('postgresql:///postgres:125802@localhost:5432/pydw',pool_size=10, max_overflow=20, pool_pre_ping=True)

In [ ]:
#Deeletnado um determinado valor, linha ou tabela
sql_delete = "DELETE FROM financeiro where cod_fin = 00"

cursor.execute("ROLLBACK")
cursor.execute(sql_delete)
conn2.commit()

In [7]:
#conectando SGBD PostgreSQL 
import psycopg2 as ps
conn2 = ps.connect(dbname = "pydw",
                   user = "postgres",
                   password = "125802",
                   host = "10.0.2.2",
                   port = "5432")
# Selecionando e executando comando no dataframework
cursor = conn2.cursor()
query = "SELECT * FROM fornecedor" 
df = pd.read_sql(query,conn2)
print(df.head(20))

   cod_forn nome_forn         cidade_forn uf_forn  \
0        10    Robson  Lucas de Rio Verde      MT
1        11     Paulo               Sinop      MT
2        12     Julie        Rondonopolis      MT

                descricao_produto
0      Artigo de festa(decoracao)
1    Artigo de festa (guluseimas)
2  Artigo de festa(lembrancinhas)

/tmp/ipykernel_9790/1191952225.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn2)

In [99]:
cursor = conn2.cursor()
#Inserindo dados na tabela
sql_insert = "INSERT INTO fornecedor (cod_forn, nome_forn, cidade_forn, uf_forn, descricao_produto) VALUES (010, 'Robson', 'Lucas de Rio Verde','MT', 'Artigo de festa(decoracao)'), (011, 'Paulo', 'Sinop', 'MT', 'Artigo de festa (guluseimas)'), (012, 'Julie', 'Rondonopolis', 'MT', 'Artigo de festa(lembrancinhas)')"
cursor.execute("ROLLBACK")
cursor.execute(sql_insert)
conn2.commit()

In [8]:
#conectando SGBD PostgreSQL 
import psycopg2 as ps
conn2 = ps.connect(dbname = "pydw",
                   user = "postgres",
                   password = "125802",
                   host = "10.0.2.2",
                   port = "5432")
# Selecionando e executando comando no dataframework
cursor = conn2.cursor()
query = "SELECT * FROM func_rh" 
df = pd.read_sql(query,conn2)
print(df.head(20))

   cod_func nome_func      cpf_func funcao_func uf_func admissao_func  \
0       100     James  2.665853e+10    vendedor      MT    2022-01-03
1       110      Liza  8.179138e+10   vendedora      MT    2020-12-28
2       120      Emma  5.418865e+10   vendedora      MT    2022-05-07

  demissao_func filial_rh
0    2025-01-30    Matrix
1    2021-02-01    loja 2
2    2025-03-24    Matrix

/tmp/ipykernel_9790/1530967822.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn2)

In [103]:
cursor = conn2.cursor()
#Inserindo dados na tabela
sql_insert = "INSERT INTO func_rh (cod_func, nome_func, cpf_func, funcao_func, uf_func, admissao_func, demissao_func, filial_rh) VALUES (100, 'James', '26658529426','vendedor','MT', '2022-01-03', '2025-01-30', 'Matrix'), (110, 'Liza', '81791382592','vendedora', 'MT', '2020-12-28', '2021-02-01', 'loja 2'), (120, 'Emma', '54188652500','vendedora', 'MT', '2022-05-07', '2025-03-24', 'Matrix');"
cursor.execute("ROLLBACK")
cursor.execute(sql_insert)
conn2.commit()

In [9]:
#conectando SGBD PostgreSQL 
import psycopg2 as ps
conn2 = ps.connect(dbname = "pydw",
                   user = "postgres",
                   password = "125802",
                   host = "10.0.2.2",
                   port = "5432")
# Selecionando e executando comando no dataframework
cursor = conn2.cursor()
query = "SELECT * FROM produto" 
df = pd.read_sql(query,conn2)
print(df.head(20))

   cod_prod               nome_prod                               descricao  \
0       200                   Balao       Metalizado Cintilante Azul Escuro
1       210  Convite de Aniversario               Convite Festa Viúva Negra
2       220     Vela De Aniversário  Parabéns Letras Vela De Bolo De Festas
3       230     Painel Harry Potter           Decoração festa Grande em tnt
4       240             Lampada Led          Giratória Colorida Para Festas

   preco  qdt_estoque
0  12.90           30
1   4.90          120
2  34.90           50
3  35.00           25
4  16.89           28

/tmp/ipykernel_9790/3602001511.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn2)

In [118]:
cursor = conn2.cursor()
#Inserindo dados na tabela
sql_insert = "INSERT INTO produto (cod_prod, nome_prod, descricao, preco, qdt_estoque) VALUES (200, 'Balao', 'Metalizado Cintilante Azul Escuro', 12.90, 30), (210,'Convite de Aniversario', 'Convite Festa Viúva Negra',4.90, 120), (220,'Vela De Aniversário', 'Parabéns Letras Vela De Bolo De Festas', 34.90, 50), (230, 'Painel Harry Potter', 'Decoração festa Grande em tnt', 35.00, 25), (240, 'Lampada Led', 'Giratória Colorida Para Festas', 16.89, 28)"
cursor.execute("ROLLBACK")
cursor.execute(sql_insert)
conn2.commit()

In [18]:
#conectando SGBD PostgreSQL 
import psycopg2 as ps
conn2 = ps.connect(dbname = "pydw",
                   user = "postgres",
                   password = "125802",
                   host = "10.0.2.2",
                   port = "5432")
# Selecionando e executando comando no dataframework
cursor = conn2.cursor()
query = "SELECT * FROM dim_tempo" 
df = pd.read_sql(query,conn2)
print(df.head(20))

   id data_completa   ano  mes  dia        semana
0   1    2022-06-30  2022    6   30  quinta-feira
1   2    2021-02-07  2021    2    7       domingo

/tmp/ipykernel_9790/1269712662.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn2)

In [17]:
cursor = conn2.cursor()
#Inserindo dados na tabela
sql_insert = "insert into dim_tempo (id, data_completa, ano, mes, dia, semana) VALUES (002, '2021-02-07', 2021, 02, 07, 'domingo') "
cursor.execute("ROLLBACK")
cursor.execute(sql_insert)
conn2.commit()

In [19]:
#conectando SGBD PostgreSQL 
import psycopg2 as ps
conn2 = ps.connect(dbname = "pydw",
                   user = "postgres",
                   password = "125802",
                   host = "10.0.2.2",
                   port = "5432")
# Selecionando e executando comando no dataframework
cursor = conn2.cursor()
query = "SELECT * FROM vendas" 
df = pd.read_sql(query,conn2)
print(df.head(20))

Empty DataFrame
Columns: [cod_vendas, cod_prod, cod_func_rh, cod_fin, cod_forn, qtd]
Index: []

/tmp/ipykernel_9790/2795053663.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn2)